
<div class="box box-primary">
  <form [formGroup]="passChangeForm" (ngSubmit)="Save()" #formDir="ngForm" novalidate>
    <div class="box-body  justify-content-center">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label for="newPassword" class="col-sm-3 control-label">
              <span class="text-danger">*</span>
              <span translate>New Password</span>:
            </label>
            <div class="col-sm-9">
              <input class="form-control" type="password" formControlName="newPassword" required>
              <span class="text-danger" *ngIf="newPassword?.invalid && ( newPassword.touched || formDir.submitted)" translate>newPasswordIsRequired</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="confirmPassword" class="col-sm-3 control-label">
              <span class="text-danger">* </span>
              <span translate>ConfirmPassword</span>:
            </label>
            <div class="col-sm-9">
              <input class="form-control" type="password" formControlName="confirmPassword" required>
              <span class="text-danger" *ngIf="confirmPassword?.invalid && ( confirmPassword.touched || formDir.submitted)" translate>ConfirmPasswordIsRequired</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-footer">
      <button class="btn btn-danger  rowEndAligne" (click)="cancel()" translate>Cancel</button>
      <button type="submit" class="btn btn-primary  rowEndAligne" translate>Save</button>
    </div><!-- /.box-footer -->
  </form>
</div>
