 <!-- Main Header -->
<header class="main-header">
  <!-- Logo -->
  <a [routerLink]="['']" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">MNM</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b translate>HeaderTitle</b></span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="assets/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
            <span class="hidden-xs" *ngIf="user">{{user.firstName}} {{user.lastName}}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

              <p *ngIf="user">
                {{user.firstName}} {{user.lastName}}
                <small>مدیریت کل سایت</small>
              </p>
            </li>
            <!-- Menu Body -->
            <li class="user-body">
              <div class="row">
                <div class="col-xs-4 text-center">
                  <a href="#">صفحه من</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">فروش</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">دوستان</a>
                </div>
              </div>
              <!-- /.row -->
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">پروفایل</a>
              </div>
              <div class="pull-right">
                <button type="button" class="btn btn-default btn-flat" (click)="logout()"  translate>SignOut</button>
              </div>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <li>
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
